<nav class="bg-gray-200 mx-auto">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-4">
    <div class="flex items-center space-x-8">
      <a href="https://flowbite.com/" class="flex items-center no-underline! ">
        <img
          src="https://flowbite.com/docs/images/logo.svg"
          class="h-6 mr-3"
          alt="Flowbite Logo"
        />
        <span class="self-center text-xl font-semibold whitespace-nowrap"
          >Flowbite</span
        >
      </a>
      <ul class="flex space-x-6 mb-0 ">
        <li>
          <a
            href="#"
            class="block underline hover:underline! text-black! font-medium"
            aria-current="page"
            >Home</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block hover:underline! no-underline! text-black! font-medium"
            >About</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block hover:underline! no-underline! text-black! font-medium"
            >Services</a
          >
        </li>
      </ul>
    </div>

    <div class="flex items-center relative">
      <button class="px-4" (click)="toogleSideMenu()">
        <!--
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
          />
        </svg>
        -->
        <i class="fa-solid fa-cart-shopping text-[25px] text-blue-900"></i>
      </button>
      <span class="absolute right-[10px] top-[-12px] w-[20px] h-[20px] flex justify-center items-center bg-blue-700 text-white text-[14px] font-bold p-1 rounded-[50%]">{{cart().length}}</span>
    </div>
  </div>
</nav>


<!--Menu lateral del carrito-->

<div [class.translate-x-full]="hideSideMenu()" class="flex flex-col gap-y-4 fixed shadow-lg top-0 right-0 bg-red z-40 w-[650px] font-medium h-screen p-4 overflow-y-auto transition-transform bg-white" >

  <div class="flex justify-between items-center">
    <p class="text-xl mb-0">Mi carrito de Compras (<span>{{cart().length}}</span>)</p>
    <button class="flex items-center justify-center" (click)="toogleSideMenu()">
      <i class="fa-solid fa-xmark text-2xl"></i>
    </button>
  </div>

  <div class="flex flex-col gap-y-8">
    @for (product of cart(); track $index) {

      <div class="flex gap-x-[30px] border-gray-300 border-solid border px-3 py-4 justify-around items-start rounded-md">
        <img [src]="product.image" class="w-[100px] rounded-md" alt="">
        <div>
          <p class="text-[22px]">{{product.title}}</p>
          <p class="text-[15px] text-gray-500 font-normal">Cantidad <span class="text-gray-500">1</span></p>
        </div>
        <div class="flex flex-col">
          <p class="text-[22px] text-red-800">S/ {{product.price}}</p>
        </div>
        <button>
          <i class="fa-regular fa-trash-can  text-[20px] pt-2"></i>
        </button>

      </div>
    }

  </div>
</div>
